<h3><%= @comment.content %></h3>
<h4>Authored by <%= @comment.author.username %></h4>
<br><br>

<% @comment.child_comments.each do |child| %>
<%= child.content %><br>
<%= "Authored by #{child.author.username}" %>
<br><br>
<% end %>


<%= render 'form', post: @comment.post, parent_comment: @comment %>
